html, body {
	padding: 0;
	margin: 0;
	background-color: #333;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

/* core */
.ui {
	position: absolute;
	display: block;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
}

/* icon */
.ui.icon {
	background-image: url(icons.png);
	display: inline-block;
	width: 16px;
	height: 16px;
	padding: 0;
	margin: 0;
	background-repeat: no-repeat;
	position: relative;
}

@keyframes animation-shaker {
	0% {transform: translate(-5px,0px); }
 	5% {transform: translate(5px,0px); }
	10% {transform: translate(0px,0px); }
	90% {transform: translate(0px,-5px); }
	95% {transform: translate(0px,5px); }
	100% {transform: translate(0px,0px); }
}

@keyframes animation-blinker {
	10%  { background-color: black; color: white; }
	20%  { background-color: white; color: black; }
	30%  { background-color: black; color: white; }
	40%  { background-color: white; color: black; }
	50%  { background-color: black; color: white; }
	60%  { background-color: white; color: black; }
	70%  { background-color: black; color: white; }
	80%  { background-color: white; color: black; }
	90%  { background-color: black; color: white; }
	100% { background-color: white; color: black; }
}

/* These files are "Required" at building stage */
{$R css/UI_Screen.css}
{$R css/UI_Form.css}
{$R css/UI_Label.css}
{$R css/UI_Button.css}
{$R css/UI_CheckBox.css}
{$R css/UI_RadioBox.css}
{$R css/UI_Canvas.css}
{$R css/UI_ListBox.css}
{$R css/UI_TabsPanel.css}
{$R css/UI_Splitter.css}
{$R css/UI_Panel.css}
{$R css/UI_MenuBar.css}
{$R css/UI_Column.css}
{$R css/UI_TextBox.css}
{$R css/UI_DropDown.css}
{$R css/UI_DateBox.css}
{$R css/UI_Spinner.css}
{$R css/UI_Slider.css}
{$R css/UI_ColorBox.css}
{$R css/UI_Text.css}
{$R css/UI_Color_List.css}
{$R css/UI_Color_Sample.css}
{$R css/UI_PropertyGrid.css}