html, body {
	padding: 0;
	margin: 0;
	background-color: #333;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

/* core */
.ui {
	position: absolute;
	display: block;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
}

/* icon */
.ui.icon {
	background-image: url(icons.png);
	display: inline-block;
	width: 16px;
	height: 16px;
	padding: 0;
	margin: 0;
	background-repeat: no-repeat;
	position: relative;
}

/* These files are "Required" at building stage */
/* Namespace: UI.UI_Form*/
.ui.UI_Form {
}

.ui.UI_Form > .inner {
	display: block;
	padding: 0;
	margin: 0;
	position: relative;
	width: 100%;
	height: 100%;
}

.ui.UI_Form > .inner > .titlebar {
	position: relative;
	display: block;
	height: 25px;
	width: 100%;
	background-color: rgb(0,0,0);
	top: -25px;
	cursor: default;
	-webkit-user-select: none;
	z-index: 1002;
	overflow: hidden;
}

.ui.UI_Form.border-none > .inner > .titlebar {
	display: none;
}

.ui.UI_Form > .inner > .titlebar > .caption {
	position: absolute;
	display: block;
	overflow: hidden;
	color: rgb(255,255,255);
	left: 0px;
	right: 83px;
	top: 0px;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-family: Arial;
	font-size: 16px;
	-webkit-user-select: none;
	height: 25px;
}

.ui.UI_Form.focus-active > .inner > .titlebar > .caption {
	color: rgb(0,0,0);
}

.ui.UI_Form > .inner > .resizer {
	position: absolute;
	display: block;
	background-color: rgb(0,0,0);
	width: 5px;
	height: 5px;
	z-index: 100;
	-webkit-user-select: none;
}

.ui.UI_Form.border-none > .inner > .resizer.nw {
	left: -5px;
	top: -5px;
}

.ui.UI_Form.border-none > .inner > .resizer.ne {
	right: -5px;
	top: -5px;
}

.ui.UI_Form.border-none > .inner > .resizer.sw {
	left: -5px;
	bottom: -5px;
}

.ui.UI_Form.border-none > .inner > .resizer.se {
	right: -5px;
	bottom: -5px;
}

.ui.UI_Form.border-none > .inner > .resizer.n {
	left: 0px;
	right: 0px;
	width: auto;
	top: -5px;
}

.ui.UI_Form.border-none > .inner > .resizer.s {
	left: 0px;
	right: 0px;
	width: auto;
	bottom: -5px;
}

.ui.UI_Form.border-none > .inner > .resizer.w {
	top: 0px;
	bottom: 0px;
	left: -5px;
	height: auto;
}

.ui.UI_Form.border-none > .inner > .resizer.e {
	top: 0px;
	bottom: 0px;
	right: -5px;
	height: auto;
}

/* Border normal */
.ui.UI_Form.border-normal > .inner > .resizer.nw {
	left: -5px;
	top: calc( -5px - 25px);
}

.ui.UI_Form.border-normal > .inner > .resizer.ne {
	right: -5px;
	top: calc( -5px - 25px);
}

.ui.UI_Form.border-normal > .inner > .resizer.sw {
	left: -5px;
	bottom: -5px;
}

.ui.UI_Form.border-normal > .inner > .resizer.se {
	right: -5px;
	bottom: -5px;
}

.ui.UI_Form.border-normal > .inner > .resizer.n {
	left: 0px;
	right: 0px;
	width: auto;
	top: calc( -5px - 25px);
}

.ui.UI_Form.border-normal > .inner > .resizer.s {
	left: 0px;
	right: 0px;
	width: auto;
	bottom: -5px;
}

.ui.UI_Form.border-normal > .inner > .resizer.w {
	top: -25px;
	bottom: 0px;
	left: -5px;
	height: auto;
}

.ui.UI_Form.border-normal > .inner > .resizer.e {
	top: -25px;
	bottom: 0px;
	right: -5px;
	height: auto;
}

.ui.UI_Form > .inner > .body {
	width: 100%;
	position: relative;
	height: 100%;
	display: block;
	padding: 0;
	margin: 0;
	top: -25px;
	background-color: rgb(255,255,255);
	overflow: hidden;
}

.ui.UI_Form.border-none > .inner > .body {
	top: 0px;
}

.ui.UI_Form.style-form > .inner > .resizer.n {
	cursor: n-resize;
}
.ui.UI_Form.style-form > .inner > .resizer.s {
	cursor: s-resize;
}
.ui.UI_Form.style-form > .inner > .resizer.w {
	cursor: w-resize;
}
.ui.UI_Form.style-form > .inner > .resizer.e {
	cursor: e-resize;
}
.ui.UI_Form.style-form > .inner > .resizer.nw {
	cursor: nw-resize;
}
.ui.UI_Form.style-form > .inner > .resizer.ne {
	cursor: ne-resize;
}
.ui.UI_Form.style-form > .inner > .resizer.sw {
	cursor: sw-resize;
}
.ui.UI_Form.style-form > .inner > .resizer.se {
	cursor: se-resize;
}

.ui.UI_Form.focus-active > .inner > .resizer {
	background-color: rgb(105,193,240);
	z-index: 1;
}

.ui.UI_Form.focus-active > .inner > .titlebar {
	background-color: rgb(105,193,240);
}

.ui.UI_Form.state-minimized,
.ui.UI_Form.state-closed {
	display: none;
}

.ui.UI_Form.state-maximized > .inner > .resizer,
.ui.UI_Form.state-fullscreen > .inner > .resizer {
	display: none;
}

.ui.UI_Form > .inner > .titlebar > .buttons {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	height: calc( 25px - 4px);
	white-space: nowrap;
}

.ui.UI_Form > .inner > .titlebar > .buttons > .button {
	display: inline-block;
	width: 24px;
	text-align: center;
	padding-top: 3px;
}

.ui.UI_Form > .inner > .titlebar > .buttons > .button.close {
	width: 34px;
	background-color: #333;
}

.ui.UI_Form > .inner > .titlebar > .buttons > .button.minimize > .icon,
.ui.UI_Form.focus-active > .inner > .titlebar > .buttons > .button.minimize:hover > .icon {
	background-position: -34px -20px;
}

.ui.UI_Form > .inner > .titlebar > .buttons > .button.maximize > .icon,
.ui.UI_Form.focus-active > .inner > .titlebar > .buttons > .button.maximize:hover > .icon {
	background-position: -34px -40px;
}

.ui.UI_Form.state-maximized > .inner > .titlebar > .buttons > .button.maximize > .icon,
.ui.UI_Form.state-maximized.focus-active > .inner > .titlebar > .buttons > .button.maximize:hover > .icon {
	background-position: -34px -57px;
}

.ui.UI_Form > .inner > .titlebar > .buttons > .button.restore > .icon,
.ui.UI_Form.focus-active > .inner > .titlebar > .buttons > .button.restore:hover > .icon {
	background-position: -34px -57px;
}

.ui.UI_Form > .inner > .titlebar > .buttons > .button.close > .icon,
.ui.UI_Form.focus-active > .inner > .titlebar > .buttons > .button.close:hover > .icon {
	background-position: -34px -5px;
}

.ui.UI_Form.focus-active > .inner > .titlebar > .buttons > .button.close {
	background-color: #C6504F;
}
.ui.UI_Form.focus-active > .inner > .titlebar > .buttons > .button.close:active {
	background-color: #964C4C;
}

.ui.UI_Form.focus-active > .inner > .titlebar > .buttons > .button.minimize > .icon {
	background-position: -10px -20px;
}

.ui.UI_Form.focus-active > .inner > .titlebar > .buttons > .button.maximize > .icon {
	background-position: -10px -40px;
}

.ui.UI_Form.state-maximized.focus-active > .inner > .titlebar > .buttons > .button.maximize > .icon {
	background-position: -10px -57px;
}

.ui.UI_Form.focus-active > .inner > .titlebar > .buttons > .button.restore > .icon {
	background-position: -10px -57px;
}

.ui.UI_Form.focus-active > .inner > .titlebar > .buttons > .button.close > .icon {
	background-position: -10px -5px;
}

.ui.UI_Form.style-mdi > .inner > .titlebar > .caption {
	right: 34px;
}

.ui.UI_Form.style-mdi > .inner > .titlebar > .buttons > .button.minimize,
.ui.UI_Form.style-mdi > .inner > .titlebar > .buttons > .button.maximize {
	display: none;
}
/* Namespace: UI.UI_Label*/
.ui.UI_Label {
	display: block;
	position: absolute;
	padding: 0;
	margin: 0;
}

.ui.UI_Label > .label {
	font-family: Arial;
	font-size: 14px;
	color: rgb(0,0,0);
	cursor: default;
	text-overflow: ellipsis;
	white-space: pre;

	-webkit-user-select: none;

	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 100%;

	overflow: hidden;
}

.ui.UI_Label.ta-left > .label {
	text-align: left;
}

.ui.UI_Label.ta-right > .label {
	text-align: right;
}

.ui.UI_Label.ta-center > .label {
	text-align: center;
}

.ui.UI_Label.disabled > .label {
	color: rgb(166,166,166);
}
/* Namespace: UI.UI_Button*/
.ui.UI_Button {
	display: block;
	position: absolute;
	padding: 0;
	margin: 0;
	overflow: hidden;
	cursor: default;

	box-sizing: border-box;

	background-color: rgb(240,240,240);
	-webkit-user-select: none;
	border: 1px solid rgb(172,172,172);
}

.ui.UI_Button > .caption {
	white-space: pre;
	text-overflow: ellipsis;
	font-family: Arial;
	font-size: 14px;
	color: rgb(0,0,0);
	width: calc( 100% - 10px );
	margin-left: 5px;
	display: block;
	padding: 0;


	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.ui.UI_Button > .icon {
	display: none;
}

.ui.UI_Button.ta-center > .caption {
	text-align: center;
}

.ui.UI_Button.ta-right > .caption {
	text-align: right;
}

.ui.UI_Button.focused {
	outline: 1px dotted black;
  	outline-offset: 1px;
}

.ui.UI_Form:not(.focus-active) .ui.UI_Button.focused {
	outline: none;
}

.ui.UI_Button.disabled {
	background-color: rgb(240,240,240);
}

.ui.UI_Button.disabled > .caption {
	color: rgb(166,166,166);
}

.ui.UI_Button:not(.disabled):active {
	background-color: rgb(232,232,232);
}

.ui.UI_Button:not(.disabled):active > .caption {
	color: rgb(0,0,0);
}
/* Namespace: UI.UI_CheckBox*/

.ui.UI_CheckBox {
	display: block;
	position: absolute;
	padding: 0;
	margin: 0;
	overflow: hidden;
	cursor: default;

	box-sizing: border-box;
	-webkit-user-select: none;

}

.ui.UI_CheckBox > .input {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
	position: relative;
	margin: 4px;
	vertical-align: top;

}

.ui.UI_CheckBox.v-null > .input {
	background-position: -50px -84px;
}

.ui.UI_CheckBox.v-true > .input {
	background-position: -30px -84px;
}

.ui.UI_CheckBox.v-false > .input {
	background-position: -10px -84px;
}

.ui.UI_CheckBox.v-null.disabled > .input {
	background-position: -50px -104px;
}

.ui.UI_CheckBox.v-true.disabled > .input {
	background-position: -30px -104px;
}

.ui.UI_CheckBox.v-false.disabled > .input {
	background-position: -10px -104px;
}


.ui.UI_CheckBox > .caption {
	display: inline-block;
	width: calc( 100% - 28px );
	margin: 4px 4px 4px 0px;
	position: relative;
	overflow: hidden;

	color: rgb(0,0,0);

	font-size: 14px;
	font-family: Arial;

	white-space: pre;
	text-overflow: ellipsis;
}

.ui.UI_CheckBox.disabled > .caption {
	color: rgb(166,166,166);
}

.ui.UI_CheckBox.focused {
	outline: 1px dotted black;
  	outline-offset: 1px;
}

.ui.UI_Form:not(.focus-active) .ui.UI_CheckBox.focused {
	outline: none;
}
/* Namespace: UI.UI_RadioBox*/

.ui.UI_RadioBox {
	display: block;
	position: absolute;
	padding: 0;
	margin: 0;
	overflow: hidden;
	cursor: default;

	box-sizing: border-box;
	-webkit-user-select: none;

}

.ui.UI_RadioBox > .input {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
	position: relative;
	margin: 4px;
	vertical-align: top;

}

.ui.UI_RadioBox.v-true > .input {
	background-position: -30px -126px;
}

.ui.UI_RadioBox.v-false > .input {
	background-position: -10px -126px;
}

.ui.UI_RadioBox.v-true.disabled > .input {
	background-position: -30px -146px;
}

.ui.UI_RadioBox.v-false.disabled > .input {
	background-position: -10px -146px;
}


.ui.UI_RadioBox > .caption {
	display: inline-block;
	width: calc( 100% - 28px );
	margin: 4px 4px 4px 0px;
	position: relative;
	overflow: hidden;

	color: rgb(0,0,0);

	font-size: 14px;
	font-family: Arial;

	white-space: pre;
	text-overflow: ellipsis;
}

.ui.UI_RadioBox.disabled > .caption {
	color: rgb(166,166,166);
}

.ui.UI_RadioBox.focused {
	outline: 1px dotted black;
  	outline-offset: 1px;
}

.ui.UI_Form:not(.focus-active) .ui.UI_RadioBox.focused {
	outline: none;
}
/* Namespace: UI.UI_Canvas*/
.ui.UI_Canvas {
	position: absolute;
	padding: 0;
	margin: 0;
	display: block;
	background-color: white;
	overflow: hidden;
	border: 1px solid rgb(172,172,172);
}

.ui.UI_Canvas > canvas {
	display: block;
	position: relative;
	z-index: 1;
}

.ui.UI_Canvas > .viewport {
	display: block;
	overflow: hidden;
	padding: 0;
	margin: 0;
	z-index: 2;
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	overflow: auto;
}

.ui.UI_Canvas > .viewport > .canvas-size {
	display: block;
	position: relative;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

.ui.UI_Canvas.disabled > .viewport {
	pointer-events: none;
}

.ui.UI_Canvas.focused:not(.disabled) {
	outline: 1px dotted black;
	outline-offset: 1px;
}

.ui.UI_Form:not(.focus-active) .ui.UI_Canvas.focused:not(.disabled) {
	outline: none;
}
/* Namespace: UI.UI_Label*/


/* Namespace: UI.UI_TabsPanel*/
.ui.UI_TabsPanel {
	display: block;
	position: absolute;
	margin: 0;
	padding: 0;
	overflow: hidden;

	border-width: 0px 0px 1px 0px;
	border-color: rgb(172,172,172);
	border-style: solid;

}

.ui.UI_TabsPanel > .inner {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

.ui.UI_TabsPanel > .inner > .tabs {
	display: block;
	height: 30px;
	width: 100%;
	position: relative;
	border-bottom: 1px solid rgb(172,172,172);
	white-space: nowrap;

	-webkit-user-select: none;

	z-index: 2;
}

.ui.UI_TabsPanel > .inner > .tabs > .UI_Tab {
	display: inline-block;
	height: calc( 30px - 1px );
	border-width: 1px 1px 0px 1px;
	border-style: solid;
	border-color: rgb(172,172,172);
	cursor: default;
	padding: 0px 5px;
	background-color: rgb(255,255,255);
}

.ui.UI_TabsPanel > .inner > .tabs > .UI_Tab.active {
	height: 30px;
}

.ui.UI_TabsPanel > .inner > .tabs > .UI_Tab > .caption {
	display: block;
	font-size: 14px;
	font-family: Arial;
	margin-top: calc( ( 30px - 14px ) / 2 );
	white-space: nowrap;
	color: rgb(0,0,0);
}

.UI_Form.focus-active .UI_TabsPanel.focused > .inner > .tabs > .UI_Tab.active > .caption {
	outline: 1px dotted black;
}

.ui.UI_TabsPanel > .inner > .body {
	display: block;
	height: calc(100% - 30px - 2px );
	height: calc(100% - 2px);
	position: relative;
	border-width: 0px 1px 0px 1px;
	border-color: rgb(172,172,172);
	border-style: solid;

	z-index: 1;
}

.ui.UI_Tab {
	padding: 0;
	margin: 0;
	display: block;
	position: relative;
	background-color: rgb(255,255,255);
}

.UI_TabsPanel.disabled > .inner > .tabs > .UI_Tab > .caption,
.UI_TabsPanel > .inner > .tabs > .UI_Tab.disabled > .caption {
	color: rgb(166,166,166);
}