{$N UI.UI_Button}
.ui.UI_Button {
	display: block;
	position: absolute;
	padding: 0;
	margin: 0;
	overflow: hidden;
	cursor: default;

	box-sizing: border-box;

	background-color: ${background.normal};
	-webkit-user-select: none;
	border: 1px solid ${borderColor};
}

.ui.UI_Button.default-button {
	outline: 1px solid black;
}

.ui.UI_Button > .caption {
	white-space: pre;
	text-overflow: ellipsis;
	font-family: ${font.family};
	font-size: ${font.size}px;
	color: ${color.normal};
	width: calc( 100% - 10px );
	margin-left: 5px;
	display: block;
	padding: 0;


	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.ui.UI_Button.has-expander > .caption {
	width: calc( 100% - 30px );
}

.ui.UI_Button > .icon {
	display: none;
}

.ui.UI_Button.has-icon > .icon {
	position: absolute;
	left: 4px;
	top: 4px;
	bottom: 4px;
	width: 20px;
	display: block;
	text-align: center;
}

.ui.UI_Button.has-icon > .icon > div {
	display: inline-block;
}

.ui.UI_Button.has-icon > .caption {
	width: calc( 100% - 30px );
	margin-left: 25px;
}

.ui.UI_Button.ta-center > .caption {
	text-align: center;
}

.ui.UI_Button.ta-right > .caption {
	text-align: right;
}

.ui.UI_Form.focus-active .ui.UI_Button.focused > .focus-ring {
	outline: 1px dotted black;
	content: ' ';
	width: calc(100% - 4px);
	height: calc( 100% - 4px);
	top: 2px;
	left: 2px;
	display: block;
	position: absolute;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	pointer-events: none;
	-ms-pointer-events: none;
	-moz-pointer-events: none;
	-o-pointer-events: none;
}

.ui.UI_Form:not(.focus-active) .ui.UI_Button.focused {
	outline: none;
}

.ui.UI_Button.disabled {
	background-color: ${background.disabled};
}

.ui.UI_Button.disabled > .caption {
	color: ${color.disabled};
}

.ui.UI_Button:not(.disabled):active {
	background-color: ${background.pressed};
}

.ui.UI_Button:not(.disabled):active > .caption {
	color: ${color.pressed};
}

.ui.UI_Button.has-expander > .expander {
	position: absolute;
	right: 1px;
	bottom: 5px;
	width: 20px;
	top: 5px;
	display: block;
	border-left: 1px solid ${color.normal};
	overflow: hidden;
	text-align: center;
}

.ui.UI_Button.has-expander.disabled > .expander {
	border-left: 1px solid ${color.disabled};
}

.ui.UI_Button.has-expander > .expander > div {
	display: inline-block;
	margin-top: calc( 100% - 10px );
	margin-left: -8px;
}

.ui.UI_Button.has-expander.expanded > .expander {
	background-color: ${background.normal};
}