{$N UI.UI_Canvas}
.ui.UI_Canvas {
	position: absolute;
	padding: 0;
	margin: 0;
	display: block;
	background-color: white;
	overflow: hidden;
	border: 1px solid ${border.color};
}

.ui.UI_Canvas > canvas {
	display: block;
	position: relative;
	z-index: 1;
}

.ui.UI_Canvas > .viewport {
	display: block;
	overflow: hidden;
	padding: 0;
	margin: 0;
	z-index: 2;
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	overflow: auto;
}

.ui.UI_Canvas > .freezed-viewport {
	display: block;
	overflow: hidden;
	padding: 0;
	margin: 0;
	z-index: 2;
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	width: 0px;
}

.ui.UI_Canvas > .freezed-viewport > .canvas-size {
	height: 100% !important;
}

.ui.UI_Canvas.has-header > .freezed-viewport {
	{$N UI.UI_Column}
	top: ${height}px;
	{$N UI.UI_Canvas}
}

.ui.UI_Canvas.has-header > .viewport {
	{$N UI.UI_Column}
	top: ${height}px;
	{$N UI.UI_Canvas}
}

.ui.UI_Canvas.has-header > .freezed-header {
	{$N UI.UI_Column}
	height: ${height}px;
	{$N UI.UI_Canvas}
	top: 0px;
	left: 0px;
	right: 0px;
	display: block;
	position: absolute;
	z-index: 3;
}

.ui.UI_Canvas.has-header.col-resize {
	cursor: col-resize !important;
}

.ui.UI_Canvas > .viewport > .canvas-size {
	display: block;
	position: relative;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

.ui.UI_Canvas > .fViewport > .canvas-size {
	display: block;
	position: relative;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

.ui.UI_Canvas.disabled > .viewport,
.ui.UI_Canvas.disabled > .fViewport,
.UI.UI_Canvas.disabled > .freezed-header {
	pointer-events: none;
}

.ui.UI_Canvas.focused:not(.disabled) {
	outline: 1px dotted black;
	outline-offset: 1px;
}

.ui.UI_Form:not(.focus-active) .ui.UI_Canvas.focused:not(.disabled) {
	outline: none;
}