{$N UI.UI_ColorBox}

.ui.UI_ColorBox {
	position: absolute;
	display: block;
	width: ${defaults.width}px;
	height: ${defaults.height}px;
	background-color: ${background.inactive};
	border: 1px solid ${border.color};
	overflow: hidden;
	box-sizing: border-box;
}

.ui.UI_ColorBox.focused {
	background-color: ${background.enabled};
}

.ui.UI_ColorBox > .color {
	display: block;
	padding: 0;
	margin: 4px 0px 4px 4px;
	width: calc( 100% - 25px );
	height: calc( 100% - 8px );
	cursor: default;
	overflow: hidden;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAA7DAAAOwwHHb6hkAAAAB3RJTUUH3wgVCzIcjS8P6QAAACpJREFUGNNjrK+v/8+ABhoaGhjRxZgYiAQDqJDx/38MvzA0NDT8H4qeAQBx9QmMa5V4XAAAAABJRU5ErkJggg==);
	background-repeat: repeat;
}

.ui.UI_ColorBox.disabled > .color {
	opacity: .5;
}

.ui.UI_ColorBox > .color > .inner {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	display: block;
	pointer-events: none;
	-webkit-pointer-events: none;
	-ms-pointer-events: none;
	-o-pointer-events: none;
	-moz-pointer-events: none;
}

.ui.UI_ColorBox > .expander {
	display: block;
	position: absolute;
	right: 2px;
	top: 2px;
	width: 20px;
	height: calc( 100% - 4px);
}

.ui.UI_Form.focus-active .ui.UI_ColorBox.focused > .color {
	outline: 1px dotted black;
	outline-offset: 1px;
}