{$N UI.UI_DateBox}

.ui.UI_DateBox {
	display: block;
	position: absolute;
	width: ${defaults.width}px;
	height: ${defaults.height}px;
	background-color: ${background.inactive};
	border: 1px solid ${border.color};
	overflow: hidden;
}

.ui.UI_Form.focus-active .ui.UI_DateBox.focused {
	background-color: ${background.enabled};
}

.ui.UI_Form.focus-active .ui.UI_DateBox.invalid {
	background-color: ${background.invalid};
}

.ui.UI_DateBox > .view {
	display: block;
	padding: 0;
	margin: 2px 0px 2px 2px;
	width: calc( 100% - 25px );
	height: calc( 100% - 4px );
	cursor: default;
	overflow: hidden;
}

.ui.UI_DateBox > .view > .group {
	display: inline-block;
	font-family: '${font.family}';
	font-size: ${font.size}px;
}

.ui.UI_DateBox > .view > .group > .ending {
	white-space: pre;
	color: ${group.color.disabled};
}

.ui.UI_DateBox.focused > .view > .group > .value.on {
	background-color: ${group.background.inactive};
	color: ${group.color.inactive};
}

.ui.UI_Form.focus-active .ui.UI_DateBox.focused > .view > .group > .value.on {
	background-color: ${group.background.active};
	color: ${group.color.active};
}

.ui.UI_DateBox.disabled > .view > .group > .value {
	color: ${group.color.disabled};
}

.ui.UI_DateBox > .expander {
	display: block;
	position: absolute;
	right: 2px;
	top: 2px;
	width: 20px;
	height: calc( 100% - 4px);
}
