{$N UI.UI_DropDown}

.ui.UI_DropDown {
	position: absolute;
	display: block;
	width: ${defaults.width}px;
	height: ${defaults.height}px;
	background-color: ${background.inactive};
	border: 1px solid ${border.color};
	overflow: hidden;
}

.ui.UI_DropDown.focused {
	background-color: ${background.selectedInactive};
}

.ui.UI_Form.focus-active .ui.UI_DropDown.focused {
	background-color: ${background.selected};
}

.ui.UI_DropDown > .view {
	display: block;
	padding: 0;
	margin: 2px 0px 2px 2px;
	width: calc( 100% - 25px );
	height: calc( 100% - 4px );
	font-size: ${font.size}px;
	font-family: '${font.family}';
	cursor: default;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: ${font.color.normal};
}

.ui.UI_DropDown.disabled > .view {
	color: ${font.color.disabled};
}

.ui.UI_Form:not(.focus-active) .ui.UI_DropDown.focused > .view {
	color: ${font.color.selectedInactive};
}

.ui.UI_DropDown > .expander {
	display: block;
	position: absolute;
	right: 2px;
	top: 2px;
	width: 20px;
	height: calc( 100% - 4px);
}
