{$N UI.UI_Form}
.ui.UI_Form {
	-webkit-box-shadow: 3px 4px 28px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 4px 28px 0px rgba(0,0,0,0.75);
	box-shadow: 3px 4px 28px 0px rgba(0,0,0,0.75);
	z-index: 1;
}

.ui.UI_Form > .inner {
	display: block;
	padding: 0;
	margin: 0;
	position: relative;
	width: 100%;
	height: 100%;
}

.ui.UI_Form > .inner > .titlebar {
	position: relative;
	display: block;
	height: ${titlebar.height}px;
	width: 100%;
	background-color: ${titlebar.inactiveBgColor};
	top: -${titlebar.height}px;
	cursor: default;
	-webkit-user-select: none;
	z-index: 1003;
	overflow: hidden;
}

.ui.UI_Form > .inner > .menubar {
	display: none;
}

.ui.UI_Form.has-menu > .inner > .menubar {
	position: relative;
	display: block;
	height: ${menuBar.height}px;
	width: 100%;
	cursor: default;
	-webkit-user-select; none;
	z-index: 1002;
	overflow: hidden;
	top: calc( -${menuBar.height}px - ${titlebar.height}px );
}



.ui.UI_Form.border-none > .inner > .titlebar {
	display: none;
}

.ui.UI_Form > .inner > .titlebar > .caption {
	position: absolute;
	display: block;
	overflow: hidden;
	color: ${titlebar.inactiveColor};
	left: 0px;
	right: 83px;
	top: 0px;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-family: ${font.family};
	font-size: ${titlebar.captionFontSize}px;
	-webkit-user-select: none;
	height: ${titlebar.height}px;
}

.ui.UI_Form.mdi-locked > .inner > .body,
.ui.UI_Form.mdi-locked > .inner > .menubar > * {
	pointer-events: none !important;
	-webkit-pointer-events: none !important;
	-moz-pointer-events: none !important;
	-ms-pointer-events: none !important;
	-o-pointer-events: none !important;
}

.ui.UI_Form.focus-active > .inner > .titlebar > .caption,
.ui.UI_Form.mdi-active > .inner > .titlebar > .caption {
	color: ${titlebar.activeColor};
}

.ui.UI_Form > .inner > .resizer {
	position: absolute;
	display: block;
	background-color: ${border.inactiveColor};
	width: ${border.width}px;
	height: ${border.width}px;
	z-index: 100;
	-webkit-user-select: none;
}

.ui.UI_Form.border-none > .inner > .resizer.nw {
	left: -${border.width}px;
	top: -${border.width}px;
}

.ui.UI_Form.border-none > .inner > .resizer.ne {
	right: -${border.width}px;
	top: -${border.width}px;
}

.ui.UI_Form.border-none > .inner > .resizer.sw {
	left: -${border.width}px;
	bottom: -${border.width}px;
}

.ui.UI_Form.border-none > .inner > .resizer.se {
	right: -${border.width}px;
	bottom: -${border.width}px;
}

.ui.UI_Form.border-none > .inner > .resizer.n {
	left: 0px;
	right: 0px;
	width: auto;
	top: -${border.width}px;
}

.ui.UI_Form.border-none > .inner > .resizer.s {
	left: 0px;
	right: 0px;
	width: auto;
	bottom: -${border.width}px;
}

.ui.UI_Form.border-none > .inner > .resizer.w {
	top: 0px;
	bottom: 0px;
	left: -${border.width}px;
	height: auto;
}

.ui.UI_Form.border-none > .inner > .resizer.e {
	top: 0px;
	bottom: 0px;
	right: -${border.width}px;
	height: auto;
}

/* Border normal */
.ui.UI_Form.border-normal > .inner > .resizer.nw {
	left: -${border.width}px;
	top: calc( -${border.width}px - ${titlebar.height}px);
}

.ui.UI_Form.border-normal > .inner > .resizer.ne {
	right: -${border.width}px;
	top: calc( -${border.width}px - ${titlebar.height}px);
}

.ui.UI_Form.border-normal > .inner > .resizer.sw {
	left: -${border.width}px;
	bottom: -${border.width}px;
}

.ui.UI_Form.border-normal > .inner > .resizer.se {
	right: -${border.width}px;
	bottom: -${border.width}px;
}

.ui.UI_Form.border-normal > .inner > .resizer.n {
	left: 0px;
	right: 0px;
	width: auto;
	top: calc( -${border.width}px - ${titlebar.height}px);
}

.ui.UI_Form.border-normal > .inner > .resizer.s {
	left: 0px;
	right: 0px;
	width: auto;
	bottom: -${border.width}px;
}

.ui.UI_Form.border-normal > .inner > .resizer.w {
	top: -${titlebar.height}px;
	bottom: 0px;
	left: -${border.width}px;
	height: auto;
}

.ui.UI_Form.border-normal > .inner > .resizer.e {
	top: -${titlebar.height}px;
	bottom: 0px;
	right: -${border.width}px;
	height: auto;
}

.ui.UI_Form > .inner > .body {
	width: 100%;
	position: relative;
	height: 100%;
	display: block;
	padding: 0;
	margin: 0;
	top: -${titlebar.height}px;
	background-color: ${backgroundColor};
	overflow: hidden;
}

.ui.UI_Form.border-none > .inner > .body {
	top: 0px;
}

.ui.UI_Form.style-form > .inner > .resizer.n {
	cursor: n-resize;
}
.ui.UI_Form.style-form > .inner > .resizer.s {
	cursor: s-resize;
}
.ui.UI_Form.style-form > .inner > .resizer.w {
	cursor: w-resize;
}
.ui.UI_Form.style-form > .inner > .resizer.e {
	cursor: e-resize;
}
.ui.UI_Form.style-form > .inner > .resizer.nw {
	cursor: nw-resize;
}
.ui.UI_Form.style-form > .inner > .resizer.ne {
	cursor: ne-resize;
}
.ui.UI_Form.style-form > .inner > .resizer.sw {
	cursor: sw-resize;
}
.ui.UI_Form.style-form > .inner > .resizer.se {
	cursor: se-resize;
}

.ui.UI_Form.focus-active > .inner > .resizer,
.ui.UI_Form.mdi-active > .inner > .resizer {
	background-color: ${border.activeColor};
	z-index: 1;
}

.ui.UI_Form.focus-active > .inner > .titlebar,
.ui.UI_Form.mdi-active > .inner > .titlebar {
	background-color: ${titlebar.activeBgColor};
}

.ui.UI_Form.state-minimized,
.ui.UI_Form.state-closed {
	display: none;
}

.ui.UI_Form.state-maximized > .inner > .resizer,
.ui.UI_Form.state-fullscreen > .inner > .resizer {
	display: none;
}

.ui.UI_Form > .inner > .titlebar > .buttons {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	height: calc( ${titlebar.height}px - 4px);
	white-space: nowrap;
}

.ui.UI_Form > .inner > .titlebar > .buttons > .button {
	display: inline-block;
	width: 24px;
	text-align: center;
	padding-top: 3px;
}

.ui.UI_Form > .inner > .titlebar > .buttons > .button.close {
	width: 34px;
	background-color: #333;
}

.ui.UI_Form > .inner > .titlebar > .buttons > .button.minimize > .icon,
.ui.UI_Form.focus-active > .inner > .titlebar > .buttons > .button.minimize:hover > .icon,
.ui.UI_Form.mdi-active > .inner > .titlebar > .buttons > .button.minimize:hover > .icon {
	background-position: -34px -20px;
}

.ui.UI_Form > .inner > .titlebar > .buttons > .button.maximize > .icon,
.ui.UI_Form.focus-active > .inner > .titlebar > .buttons > .button.maximize:hover > .icon,
.ui.UI_Form.mdi-active > .inner > .titlebar > .buttons > .button.maximize:hover > .icon {
	background-position: -34px -40px;
}

.ui.UI_Form.state-maximized > .inner > .titlebar > .buttons > .button.maximize > .icon,
.ui.UI_Form.state-maximized.focus-active > .inner > .titlebar > .buttons > .button.maximize:hover > .icon,
.ui.UI_Form.state-maximized.mdi-active > .inner > .titlebar > .buttons > .button.maximize:hover > .icon {
	background-position: -34px -57px;
}

.ui.UI_Form > .inner > .titlebar > .buttons > .button.restore > .icon,
.ui.UI_Form.focus-active > .inner > .titlebar > .buttons > .button.restore:hover > .icon,
.ui.UI_Form.mdi-active > .inner > .titlebar > .buttons > .button.restore:hover > .icon {
	background-position: -34px -57px;
}

.ui.UI_Form > .inner > .titlebar > .buttons > .button.close > .icon,
.ui.UI_Form.focus-active > .inner > .titlebar > .buttons > .button.close:hover > .icon,
.ui.UI_Form.mdi-active > .inner > .titlebar > .buttons > .button.close:hover > .icon {
	background-position: -34px -5px;
}

.ui.UI_Form.focus-active > .inner > .titlebar > .buttons > .button.close,
.ui.UI_Form.mdi-active > .inner > .titlebar > .buttons > .button.close {
	background-color: #C6504F;
}
.ui.UI_Form.focus-active > .inner > .titlebar > .buttons > .button.close:active,
.ui.UI_Form.mdi-active > .inner > .titlebar > .buttons > .button.close:active {
	background-color: #964C4C;
}

.ui.UI_Form.focus-active > .inner > .titlebar > .buttons > .button.minimize > .icon,
.ui.UI_Form.mdi-active > .inner > .titlebar > .buttons > .button.minimize > .icon {
	background-position: -10px -20px;
}

.ui.UI_Form.focus-active > .inner > .titlebar > .buttons > .button.maximize > .icon,
.ui.UI_Form.mdi-active > .inner > .titlebar > .buttons > .button.maximize > .icon {
	background-position: -10px -40px;
}

.ui.UI_Form.state-maximized.focus-active > .inner > .titlebar > .buttons > .button.maximize > .icon,
.ui.UI_Form.state-maximized.mdi-active > .inner > .titlebar > .buttons > .button.maximize > .icon {
	background-position: -10px -57px;
}

.ui.UI_Form.focus-active > .inner > .titlebar > .buttons > .button.restore > .icon,
.ui.UI_Form.mdi-active > .inner > .titlebar > .buttons > .button.restore > .icon {
	background-position: -10px -57px;
}

.ui.UI_Form.focus-active > .inner > .titlebar > .buttons > .button.close > .icon,
.ui.UI_Form.mdi-active > .inner > .titlebar > .buttons > .button.close > .icon {
	background-position: -10px -5px;
}

.ui.UI_Form.style-mdi > .inner > .titlebar > .caption {
	right: 34px;
}

.ui.UI_Form.style-mdi > .inner > .titlebar > .buttons > .button.minimize,
.ui.UI_Form.style-mdi > .inner > .titlebar > .buttons > .button.maximize {
	display: none;
}

.ui.UI_Form.border-normal.has-menu > .inner > .titlebar {
	top: calc( -${titlebar.height}px - ${menuBar.height}px );
}

.ui.UI_Form.border-normal.has-menu > .inner > .body {
	top: calc( -${titlebar.height}px - ${menuBar.height}px );
}

.ui.UI_Form.border-normal.has-menu > .inner > .resizer.n,
.ui.UI_Form.border-normal.has-menu > .inner > .resizer.nw,
.ui.UI_Form.border-normal.has-menu > .inner > .resizer.ne {
	top: calc( -${titlebar.height}px - ${menuBar.height}px - ${border.width}px );
}

.ui.UI_Form.border-normal.has-menu > .inner > .resizer.w,
.ui.UI_Form.border-normal.has-menu > .inner > .resizer.e {
	top: calc( -${titlebar.height}px - ${menuBar.height}px );
}

.ui.UI_Form.border-none.has-menu > .inner > .menubar {
	top: calc( -${menuBar.height}px );
}

.ui.UI_Form.border-none.has-menu > .inner > .titlebar {
	top: -${menuBar.height}px;
}

.ui.UI_Form.border-none.has-menu > .inner > .body {
	top: -${menuBar.height}px;
}

.ui.UI_Form.border-none.has-menu > .inner > .resizer.n,
.ui.UI_Form.border-none.has-menu > .inner > .resizer.nw,
.ui.UI_Form.border-none.has-menu > .inner > .resizer.ne {
	top: calc( -${menuBar.height}px - ${border.width}px );
}

.ui.UI_Form.border-none.has-menu > .inner > .resizer.w,
.ui.UI_Form.border-none.has-menu > .inner > .resizer.e {
	top: -${menuBar.height}px;
}

.ui.UI_Form.animation-shake {
	-webkit-animation-name: animation-shaker;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-count: 3;
	animation-name: animation-shaker;
	animation-duration: 0.5s;
	animation-count: 3;
}

.ui.UI_Form.animation-blink > .inner > .titlebar,
.ui.UI_Form.animation-blink > .inner > .resizer {
	-webkit-animation-name: animation-blinker;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-count: 3;
	animation-name: animation-blinker;
	animation-duration: 0.5s;
	animation-count: 3;

}