{$N UI.UI_RadioBox}

.ui.UI_RadioBox {
	display: block;
	position: absolute;
	padding: 0;
	margin: 0;
	overflow: hidden;
	cursor: default;

	box-sizing: border-box;
	-webkit-user-select: none;

}

.ui.UI_RadioBox > .input {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
	position: relative;
	margin: 4px;
	vertical-align: top;

}

.ui.UI_RadioBox.v-true > .input {
	background-position: -30px -126px;
}

.ui.UI_RadioBox.v-false > .input {
	background-position: -10px -126px;
}

.ui.UI_RadioBox.v-true.disabled > .input {
	background-position: -30px -146px;
}

.ui.UI_RadioBox.v-false.disabled > .input {
	background-position: -10px -146px;
}


.ui.UI_RadioBox > .caption {
	display: inline-block;
	width: calc( 100% - 28px );
	margin: 4px 4px 4px 0px;
	position: relative;
	overflow: hidden;

	color: ${color.normal};

	font-size: ${font.size}px;
	font-family: ${font.family};

	white-space: pre;
	text-overflow: ellipsis;
}

.ui.UI_RadioBox.disabled > .caption {
	color: ${color.disabled};
}

.ui.UI_RadioBox.focused {
	outline: 1px dotted black;
  	outline-offset: -3px;
}

.ui.UI_Form:not(.focus-active) .ui.UI_RadioBox.focused {
	outline: none;
}