{$N UI.UI_Spinner}
.ui.UI_Spinner {
	display: block;
	width: ${defaults.width}px;
	height: ${defaults.height}px;
	background-color: ${background.inactive};
	border: 1px solid ${border.color};
}

.ui.UI_Spinner.focused {
	background-color: ${background.enabled};
}

.ui.UI_Spinner > input[type=text] {
	border: none;
	width: calc(100% - 25px);
	height: 100%;
	padding: 0;
	margin: 0px 2px;
	background-color: transparent;
	outline: none !important;
	display: block;
}

.ui.UI_Spinner > div.decrement {
	position: absolute;
	right: 0px;
	top: 0px;
	height: calc(50% - 2px);
	width: 20px;
	border: 1px solid ${border.color};
	text-align: center;
}

.ui.UI_Spinner > div.increment {
	position: absolute;
	right: 0px;
	bottom: 0px;
	height: calc(50% - 2px);
	width: 20px;
	border: 1px solid ${border.color};
	text-align: center;
}

.ui.UI_Spinner > .increment > div,
.ui.UI_Spinner > .decrement > div {
	vertical-align: top;
	pointer-events: none;
	-webkit-pointer-events: none;
	-ms-pointer-events: none;
	-moz-pointer-events: none;
	-o-pointer-events: none;
	margin-top: calc( 50% - 8px );
}