canvas.UI_Screen {
	position: absolute;
	display: block;
	top: 0px;
	left: 0px;
	z-index: 100000000;
	width: 100%;
	height: 100%;

	pointer-events: none;
	-webkit-pointer-events: none;
	-ms-pointer-events: none;
	-moz-pointer-events: none;
}

canvas.UI_Screen.visible {
	pointer-events: all;
	-webkit-pointer-events: all;
	-moz-pointer-events: all;
	-ms-pointer-events: all;
}