{$N UI.UI_TabsPanel}
.ui.UI_TabsPanel {
	display: block;
	position: absolute;
	margin: 0;
	padding: 0;
	overflow: hidden;

	border-width: 0px 0px 1px 0px;
	border-color: ${tab.borderColor};
	border-style: solid;

}

.ui.UI_TabsPanel > .inner {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

.ui.UI_TabsPanel > .inner > .tabs {
	display: block;
	height: ${tabsBar.size}px;
	width: 100%;
	position: relative;
	border-bottom: 1px solid ${tab.borderColor};
	white-space: nowrap;

	-webkit-user-select: none;

	z-index: 2;
}

.ui.UI_TabsPanel > .inner > .tabs > .UI_Tab {
	display: inline-block;
	height: calc( ${tabsBar.size}px - 1px );
	border-width: 1px 1px 0px 1px;
	border-style: solid;
	border-color: ${tab.borderColor};
	cursor: default;
	padding: 0px 5px;
	background-color: ${tab.backgroundColor};
}

.ui.UI_TabsPanel > .inner > .tabs > .UI_Tab.active {
	height: ${tabsBar.size}px;
}

.ui.UI_TabsPanel > .inner > .tabs > .UI_Tab > .caption {
	display: block;
	font-size: ${tab.font.size}px;
	font-family: ${tab.font.family};
	margin-top: calc( ( ${tabsBar.size}px - ${tab.font.size}px ) / 2 );
	white-space: nowrap;
	color: ${tab.font.color};
}

.UI_Form.focus-active .UI_TabsPanel.focused > .inner > .tabs > .UI_Tab.active > .caption {
	outline: 1px dotted black;
}

.ui.UI_TabsPanel > .inner > .body {
	display: block;
	height: calc(100% - ${tabsBar.size}px - 2px );
	height: calc(100% - 2px);
	position: relative;
	border-width: 0px 1px 0px 1px;
	border-color: ${tab.borderColor};
	border-style: solid;

	z-index: 1;
}

.ui.UI_Tab {
	padding: 0;
	margin: 0;
	display: block;
	position: relative;
	background-color: ${tab.backgroundColor};
}

.UI_TabsPanel.disabled > .inner > .tabs > .UI_Tab > .caption,
.UI_TabsPanel > .inner > .tabs > .UI_Tab.disabled > .caption {
	color: ${tab.font.disabledColor};
}